# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.pickle
*.db
*.sqlite3

# キャッシュ・一時ファイル
.cache/
*.tmp
*.log
*.bak
*.swp
*.swo
.realesrgan_debug.log

# Windows
Thumbs.db
Desktop.ini
*.DS_Store

# 仮想環境（プロジェクト固有）
movieEditor/

# ビルド/配布物
build/
dist/
*.spec
*.egg-info/

# バイナリ・モデル・外部ツール
*.exe
*.dll
*.bin
*.param
*.lib
*.so
*.whl
*.pyd

# IDE・エディタ
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# テスト関連
/tests/__pycache__/
htmlcov/
.coverage
*.cover

# その他
start_app.bat*
cache/
BasicSR/
models/

#dekita
